*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #264653;
}

body{
  display: flex;
  justify-content: center;
  background-color: #f7ede2;
}

.container{
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
}

.main{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button{
  font-size: medium;
  font-weight: 500;
  width: 3vw;
  height: 6vh;
  margin: 0.75vh;
  border: none;
  border-radius: 2vh;
  outline: none;
  background-color: #f6bd60;
}

input{
  font-size: medium;
  font-weight: 300;
  width: 25vw;
  height: 6vh;
  margin: 0.75vh;
  border: none;
  border-radius: 2vh;
  outline: none;
}

hr{
  width: 25vw;
  border: 2px solid #264653;
  border-radius: 10px;
}